<div class="login-box">

    <%
    if (!req.session.user_id)
    {
    %>
    <div id="resMessageOps" class="alert alert-danger" style="color:black">Authorization Failed. Access denied due to invalid or expired token!</div>
    <% } else if(req.error) { %>
    <div id="resMessageOps" class="alert alert-danger" style="color:black"><%=req.error%></div>
    <% } %>


     <!-- /.login-logo -->
     <div class="login-box-body">
       <p class="login-box-msg">Sign in to start your session</p>

       <form action="Login" method="post">
         <div class="form-group has-feedback">
           <input type="email" name="email" ng-model="loginForm.email" class="form-control" placeholder="Email">
           <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
         </div>
         <div class="form-group has-feedback">
           <input type="password" name="password"  class="form-control" placeholder="Password">
           <input type="hidden" name="secret_key" value='egdsdrtw54t4e5wytgscfgw45wygsdfgwre546y45645dfgsdfgst4w5645wsdfgw'>
           <input type="hidden" name="api_key" value = "sdfsdkfnmaliu7sdyoeyr347y85o75o74">
           <span class="glyphicon glyphicon-lock form-control-feedback"></span>
         </div>
         <div class="row">
           <div class="col-xs-8">

           </div>
           <!-- /.col -->
           <div class="col-xs-4">
             <button type="submit"  class="btn btn-primary btn-block btn-flat">Log In</button>

           </div>
           <!-- /.col -->
         </div>
       </form>

     </div>
     <!-- /.login-box-body -->
   </div>
   <!-- /.login-box -->
