<form ng-submit = "processForm()" method="post" name="form">
    <div class="card">
        <div class="card-header bgm-cyan">
            <h2><i class="him-icon zmdi zmdi-key"></i>&nbsp; Change Password</h2>
        </div>
        <div class="card-body card-padding">
            <div class="alert alert-danger" role="alert" ng-show="formdata.confirm_password !== formdata.password">
                Passwords do not match.
            </div>
            <div class="form-group fg-float m-b-30 col-sm-12">
                <div class="fg-line" ng-class="{'has-error': form.password.$dirty && form.password.$invalid }">
                    <input type="password" class="form-control input-sm" name="password" ng-model="formdata.password" required>
                    <label class="fg-label">New Password</label>
                </div>
            </div>
            <div class="form-group fg-float m-b-30 col-sm-12">
                <div class="fg-line" ng-class="{'has-error': form.confirm_password.$dirty && form.confirm_password.$invalid }">
                    <input type="password" class="form-control input-sm" name="confirm_password" ng-model="formdata.confirm_password" required>
                    <label class="fg-label">Confirm Password</label>
                </div>
            </div>
            <!-- end address section -->
            <div class="col-sm-12  m-b-30">
                <button class="btn btn-info waves-effect"
                        ng-disabled="form.password.$invalid || form.confirm_password.$invalid || formdata.confirm_password !== formdata.password">
                    Submit
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
