<div class="card">
    <div class="card-header ch-alt">
        <h2><i class="him-icon zmdi zmdi-account"></i> Here is User name</h2>
    </div>
    <div class="card-body card-padding">
        <div class="form-group fg-float m-b-30 col-sm-6">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">First Name</label>
            </div>
        </div>
        <div class="form-group fg-float m-b-30 col-sm-6">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Last Name</label>
            </div>
        </div>

        <div class="form-group fg-float m-b-30 col-sm-12">
            <div class="fg-line">
                <input type="email" class="form-control input-sm">
                <label class="fg-label">Email address</label>
            </div>
        </div>
        <div class="form-group fg-float m-b-30 col-sm-12">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Contact Number</label>
            </div>
        </div>
        <!-- User Role section -->
        <div class="col-sm-6 m-b-25">
            <p class="f-500 m-b-15 c-black">User Role</p>
            <select class="selectpicker" data-live-search="true">
                <option>Ketchup</option>
                <option>Relish</option>
                <option>Tent</option>
                <option>Flashlight</option>
                <option>Toilet Paper</option>
            </select>
        </div>
        <!-- End User Role section -->
        <!-- address section -->
        <div class="col-sm-6 m-b-25">
            <p class="f-500 m-b-15 c-black">City</p>
            <select class="selectpicker" data-live-search="true">
                <option>Ketchup</option>
                <option>Relish</option>
                <option>Tent</option>
                <option>Flashlight</option>
                <option>Toilet Paper</option>
            </select>
        </div>
        <div class="form-group fg-float m-b-30 col-sm-6">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">State</label>
            </div>
        </div>
        <div class="form-group fg-float m-b-30 col-sm-6">
            <div class="fg-line">
                <input type="text" class="form-control input-sm">
                <label class="fg-label">Zip</label>
            </div>
        </div>
        <div class="form-group fg-float col-sm-12">
            <div class="fg-line">
                <textarea class="form-control auto-size input-sm" style="overflow: hidden; word-wrap: break-word; height: 43px;"></textarea>
                <label class="fg-label">Address</label>
            </div>
        </div>
        <!-- end address section -->
        <div class="col-sm-12  m-b-30">
            <button class="btn btn-info waves-effect">Submit</button>
            <button class="btn btn-link waves-effect">Cancel</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
